/target
.copyarea.db
logs
project/project
project/target
target
tmp
*.class
/*.class
dist
.idea/
*.iml
bin
/bin
/out
/.idea_modules
*.jar
*.rar
*.tar
*.zip
/.classpath
.classpath
.settings
/.settings
.project
/.project
